-# %h1 work list
-# -@works.each do |work|
-#   %p
-#     =link_to work.title, work_path(work)
-#     = "/"
-#     =link_to work.director.name, director_path(work.director)
-#     ="(#{work.relese})"
-#     =link_to higher_work_path(work) do
-#       %i.fa.fa-arrow-up
-#     %hr



/ ======= Navbar =======
%main#main
  / ======= Works Section =======
  %section.section.site-portfolio
    .container
      .row.mb-5.align-items-center
        .col-md-12.col-lg-6.mb-4.mb-lg-0{"data-aos" => "fade-up"}
          %h2 Movie list
          %p.mb-0 Find your favourite movies!
        .col-md-12.col-lg-6.text-left.text-lg-right
          = search_form_for @q do |f|
            = f.label :title, "Keyword"
            = f.search_field :title_or_director_name_cont
            = f.submit "Search", class: 'readmore'

        -#   #filters.filters
        -#     %a.active{"data-filter" => "*", :href => "#"} All
        -#     %a{"data-filter" => ".web", :href => "#"} Web
        -#     %a{"data-filter" => ".design", :href => "#"} Design
        -#     %a{"data-filter" => ".branding", :href => "#"} Branding
        -#     %a{"data-filter" => ".photography", :href => "#"} Photography
      #portfolio-grid.row.no-gutter{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        -@works.each do |work|
          .item.web.col-sm-6.col-md-4.col-lg-4.mb-4
            -# %a.item-wrap.fancybox{:href => "work-single.html"}
            =link_to work_path(work), class: 'item-wrap fancybox' do
              .work-info
                %h3=work.title
                %span=work.relese
              -# %img.img-fluid{:src => "/img/img_1.jpg"}/
              -if work.image.present?
                =image_tag work.image_url(:thumb), class: 'img-fluid'
              -else
                =image_tag '/img/default_image.png', class: 'img-fluid'
      =paginate @works
      =link_to 'Add new movie', new_work_path, class: 'readmore'
  / End  Works Section
/ End #main
/ ======= Footer =======
